@media (max-width:840px) and (min-width:320px){
    .Partner_App_Apple,
    .Partner_App_Instagram{
         width: 100% !important;
         padding-bottom: 10px !important;
         margin-top: 10px !important;
    }
    .polaris__card{
        flex-wrap: wrap !important;
        
    }
    .Polaris-Card{
        margin-bottom: 10px !important;
    }
}

.swiper-wrapper{
    padding: 30px !important;
}

.swiper-slide{
    margin-right: 20px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -5px !important;
}